     REQ-ID:
Description:
       Type:
  Rationale:
 Originator:
   Comments: [M814-ModuleChair] Copy this template below to add new requirements.
 
     REQ-ID: MB05
Description: The product shall provide the next available appointment after a given duration for a given therapist.
       Type: Functional
  Rationale: To be able to offer the patient an appointment with the correct therapist after the requested duration 
             so they can choose whether to accept it.
 Originator: Office Manager (Carol)
   Comments: [Ceri-anne Jackson] 

     REQ-ID: TMM001
Description: The system shall record the amount that the patient needs to pay
       Type: Functional
  Rationale: The system needs to know the amount that the patient needs to pay in order to generate an invoice
 Originator: Office Manager (Carol)
   Comments: [Tamsyn Murphy]
   
     REQ-ID: ZKM01
Description: The system shall find a registered patient's data.
       Type: Functional
  Rationale: The receptionists need to be able to identify the patient before booking an appointment or producing an invoice.
 Originator: Office Manager (Carol)
   Comments: [Zhi Kin Mok]   

REQ-ID: APM01
Description: The system shall allow a receptionist to record details of a completed treatment session
Type: Functional
Rationale: When a treatment is completed the details need to be recorded for the patient on the system
Originator: Office Manager (Carol)
Comments: [Andy Mather] 

REQ-ID: APM02
Description: The system shall allow a receptionist to record details of a payment
Type: Functional
Rationale: When a treatment is completed the details of the payment taken from the patient need to be recorded on the system
Originator: Office Manager (Carol)
Comments: [Andy Mather] 

